body {
  width: 400px;
  height: 500px;
  margin: 0;
  font-family: num, "Open Sans", ariel, sans-serif  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
