.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toggle-btn {
  position: relative;
  width: 74px;
  height: 36px;
  overflow: hidden;
  margin: auto;
}

.toggle-btn.r,
.toggle-btn.r .layer {
  border-radius: 100px;
}

.toggle-btn.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ffffff;
  transition: 0.3s ease all;
  z-index: 1;
}

/* toggle-btn 13 */
#toggle-btn-13 .knobs:before,
#toggle-btn-13 .knobs:after,
#toggle-btn-13 .knobs span {
  position: absolute;
  top: 4px;
  width: 20px;
  height: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#toggle-btn-13 .knobs:before,
#toggle-btn-13 .knobs:after {
  color: #4e4e4e;
  z-index: 1;
}

#toggle-btn-13 .knobs:before {
  content: "YES";
  left: 4px;
}

#toggle-btn-13 .knobs:after {
  content: "NO";
  right: 4px;
}

#toggle-btn-13 .knobs span {
  width: 25px;
  left: 37px;
  background-color: #383e55;
  z-index: 2;
}

#toggle-btn-13 .checkbox:checked + .knobs span {
  left: 4px;
  background-color: #7f86a1;
}

#toggle-btn-13 .checkbox:checked ~ .layer {
  background-color: #ffffffc7;
}

* {
  -webkit-box-sizing: unset !important;
     -moz-box-sizing: unset !important;
          box-sizing: unset !important;
}
*:before,
*:after {
  -webkit-box-sizing: unset !important;
     -moz-box-sizing: unset !important;
          box-sizing: unset !important;
}